export DB_HOST=your_db_host
export DB_PORT=1234
export DB_DATABASE=your_db_name
export DB_USERNAME=your_db_user
export DB_PASSWORD=your_db_password

export SLACK_BOT_TOKEN=xoxb-XXXXXXXXXXXX-XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX
export SLACK_CHANNEL_ID=C0123456789

export POLL_INTERVAL_SECONDS=300