# kos
export KOS_API_BASE_URL=http://localhost:8000
export KOS_API_TOKEN=replace_with_kos_token
export KOS_API_TIMEOUT_SECONDS=10

# slack
export SLACK_BOT_TOKEN=xoxb-xxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxx
export SLACK_APP_TOKEN=xapp-1-xxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export SLACK_CHANNEL_ID=C0123456789
export SLACK_AUDIT_INCLUDE_DELETED=false
export SLACK_AUDIT_OVERRIDES_FILE=./slack_audit_overrides.json

export AUTHORIZED_USERGROUPS=SDFB4PKGE
export AUTHORIZED_USERS=ABCD12345

# sqlite
export SQLITE_DB_PATH=./database/slack_threads.db

# Google API
export CREDENTIALS_FILE=./credentials.json
export TOKEN_FILE=./token.json
export GOOGLE_ADMIN_TOKEN_FILE=./token_admin.json
export GOOGLE_WORKSPACE_DOMAIN=kwartzlab.ca
export GOOGLE_WORKSPACE_GROUPS=members@kwartzlab.ca announce@kwartzlab.ca
export ARCHIVE_GDRIVE_URL=

# app
export POLL_INTERVAL_SECONDS=30
export DEBUG=false
export PORT=10101

export LOG_LEVEL=INFO
export LOG_FILE=./logs/app.log

export API_TOKEN=replace_with_api_token
export ENVIRONMENT=development
